.bookings-container { 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-left: solid 1px var(--white-contrast);
}

.bookings-header {
    height: 128px;
    display: flex;
    flex: 0 0 128px;
    justify-content: space-around;
    align-items: center;
    

    border-bottom: solid 1px var(--white-contrast);

    padding: 16px 64px;

    background-color: var(--background-color);
}

.header-content {
    font-size: 3.5rem;
}

.bookings-add-form {
    margin: 16px 64px 0px 64px;
}

.bookings-list-wrapper {
    display: flex;
    flex-grow: 1;
    min-height: 0;

    margin-top: 64px;
    transition: margin 250ms ease;
}

.bookings-list-wrapper.shifted {
    margin-top: 128px;
}