.login-page-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page {
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 4px;
    padding: 32px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    row-gap: 8px;

    width: 50%;
    height: 50%;

    background-color: var(--background-color-lvl2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    padding: 8px;
    font-size: 1rem;
    background-color: white;
    border: solid 1px var(--white-contrast);
    border-radius: 4px;
}

button {
    width: 50%;
    background-color: white;
    font-weight: bold;
}

