.rooms-container { 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-left: solid 1px var(--white-contrast);
}

.rooms-header {
    height: 128px;
    display: flex;
    flex: 0 0 128px;
    justify-content: space-around;
    align-items: center;
    

    border-bottom: solid 1px var(--white-contrast);

    padding: 16px 64px;

    background-color: var(--background-color);
}

.rooms-cards {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 48px;
    flex-grow: 1;

    overflow: auto;
    padding: 64px;

    scrollbar-width: none; /* Firefox */

    background-color: var(--background-color);
}

.room-bookings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    margin: 48px;
    padding: 16px;
    background-color: var(--background-color-lvl2);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.room-bookings-wrapper {
    margin-top: 90px;
    min-height: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.room-bookings-header-interactions {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

#go-back-button {
    width: 128px;
    margin-top: 16px;
}

.header-content {
    font-size: 3.5rem;
}

#header-add-room {
    text-decoration: underline;
    cursor: pointer;
}