.rooms-container { 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.rooms-header {
    height: 128px;
    flex: 0 0 128px;
    width: auto;
    border: solid 1px red;
    padding: 16px 64px;

    background-color: var(--background-color);
}

.rooms-cards {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 48px;
    flex-grow: 1;

    border: solid 1px green;
    overflow: auto;
    padding: 64px;

    scrollbar-width: none; /* Firefox */

    background-color: var(--background-color);
}

.header-content {
    font-size: 3.5rem;
}