.users-container { 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-left: solid 1px var(--white-contrast);
}

.users-header {
    height: 128px;
    display: flex;
    flex: 0 0 128px;
    justify-content: space-around;
    align-items: center;
    

    border-bottom: solid 1px var(--white-contrast);

    padding: 16px 64px;

    background-color: var(--background-color);
}

.add-form-wrapper {
    width: 100%;
}

.users-rows-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
}

.users-rows {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;
    flex-grow: 1;

    overflow: auto;
    padding: 0 64px 64px 64px;

    scrollbar-width: none; /* Firefox */

    background-color: var(--background-color);
}

.users-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 64px 8px 64px;
    padding: 0 32px;
    background-color: var(--table-header);
    border-radius: 4px;
}

.users-table-descriptor {
    min-width: 256px;
    font-size: 1.3rem;
    font-weight: bold;
}

.header-content {
    font-size: 3.5rem;
}

.padding-button {
    visibility: hidden;
}

.padding {
    display: flex;
    gap: 4px;
}

#header-add-user {
    text-decoration: underline;
    cursor: pointer;
}