@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap');

:root {
  --background-color: hsl(0, 0%, 90%);
  --background-color-lvl2: hsl(0, 0%, 95%);
  --background-color-lvl3: hsl(0, 0%, 100%);
  --white-contrast: hsl(0, 0%, 75%);
  --foreground-color: hsl(0, 0%, 0%);
  --foreground-color-lvl2: hsl(0, 0%, 5%);
  --foreground-color-lvl3: hsl(0, 0%, 10%);
  --text: hsl(0, 0%, 0%);
  --text-contrast: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

input {
    padding: 8px;
    font-size: 1rem;
    background-color: var(--background-color-lvl3);
    border: solid 1px var(--white-contrast);
    border-radius: 4px;
}

button {
    width: 50%;
    font-weight: bold;
    color: var(--background-color-lvl2);

    padding: 8px;
    font-size: 1rem;
    background-color: var(--foreground-color-lvl3);
    border: solid 1px var(--white-contrast);
    border-radius: 4px;

    cursor: pointer;
}

button:hover {
    background-color: var(--background-color-lvl3);
    border: solid 1px var(--foreground-color);
    color: var(--text);
    transition: all 0.1s;
}