.add-room-button {
    width: 250px;
    height: 275px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-icon {
    cursor: pointer;
}