.booking-table {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.booking-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 64px 8px 64px;
    padding: 0 32px;
    background-color: var(--table-header);
    border-radius: 4px;
    flex: 0 0 auto;
}

.booking-rows {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;
    flex-grow: 1;

    overflow: auto;
    padding: 0 64px 8px 64px;
    min-height: 0;
    scrollbar-width: none; /* Firefox */

    background-color: var(--background-color);
}

.table-descriptor {
    width: 25%;
    font-size: 1.3rem;
    font-weight: bold;
}

.padding-button {
    visibility: hidden;
}

.padding {
    display: flex;
    gap: 4px;
}