.booking-rows {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.booking-table-header {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;

    width: 100%;
}

.booking-rows {
    background-color: var(--background-color-lvl2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
    flex-grow: 1;

    overflow: auto;
    padding: 64px;

    scrollbar-width: none; /* Firefox */
}