.card {
    width: 250px;
    height: 275px;
    border: solid 1px var(--white-contrast);
    border-radius: 8px;
    padding: 16px;

    background-color: var(--background-color-lvl2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    position: relative;
}

p {
    font-size: 1.2rem;
}

span {
    font-weight: bold;
    font-size: 1.4rem;
}

#edit-card-button {
    position: absolute;
    right: 4px;
    bottom: 4px;
    cursor: pointer;
}

#delete-card-button {
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
}