.room-form {
    width: 250px;
    height: 200px;
    border: solid 1px var(--white-contrast);
    border-radius: 8px;
    padding: 16px;

    background-color: var(--background-color-lvl2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

input {
    padding: 8px;
    font-size: 1rem;
    background-color: var(--background-color-lvl3);
    border: solid 1px var(--white-contrast);
    border-radius: 4px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button {
    width: 45%;
    font-weight: bold;
    color: var(--background-color-lvl2);

    padding: 8px;
    font-size: 1rem;
    background-color: var(--foreground-color-lvl3);
    border: solid 1px var(--white-contrast);
    border-radius: 4px;
}

.room-form-buttons {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}