/* Container of a single user, consisting of first name, last name, email, and admin status */
.user {
    display: flex;
    justify-content: space-between;

    width: 100%;

    border: solid 1px blue;
}

p {
    min-width: 256px;
    height: 64px;
    padding: 16px 32px;

    border: solid 1px red;
}

button {
    width: auto;
}