.user-form-container {
    display: flex;
    justify-content: space-between;

    width: 100%;

    background-color: var(--background-color-lvl2);
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-form-input {
    width: 25%;
}

.user-form-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.user-form-checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}